body {
    margin: unset;
}

.uppercase {
    text-transform: uppercase;
}
.lowercase {
    text-transform: lowercase;
}
.capitalize {
    text-transform: capitalize;
}

.viewport-wh {
    width: 100vw;
    height: 100vh;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.flex-row-reverse {
    display: flex;
    flex-direction: row-reverse;
}
.flex-col-reverse {
    display: flex;
    flex-direction: column-reverse;
}
