$primary: #651af0;
$secondary: #d8128c;
$disabled: #d5d5d5;
$error: #f44336;
$warning: #ff9800;
$info: #2196f3;
$success: #4caf50;
$text-primary: #ffffff;
$text-secondary: #000000;
$text-disabled: #686565;
$text-error: #ffffff;
$text-warning: #000000;
$text-info: #ffffff;
$text-success: #ffffff;
